@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.App {
  width: 1280px;
  min-height: 100vh;
  max-width: calc(100% - 32px);
  margin: 0 auto;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
/*  */
.import {
  text-align: center;
  display: flex;
  gap: 6px;
  align-items: center;
  color: white;
  background: #8e817c;
  font-size: medium;
  border-radius: 8px;
  padding: 10px 20px;
}

@media screen and (max-width: 767px) {
  .custom {
    position: relative;
  }
  .custom-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .reposn-input {
    flex-wrap: wrap;
  }
}
.active {
  color: #6d6dde !important;
}
