@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.App {
  width: 1280px;
  max-width: calc(100% - 32px);
  margin: 0 auto;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .custom {
    position: relative;
  }
  .custom-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;
  }
}
