@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.App {
  width: 1280px;
  min-height: 100vh;
  max-width: calc(100% - 32px);
  margin: 0 auto;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .custom {
    position: relative;
  }
  .custom-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .reposn-input {
    flex-wrap: wrap;
  }
}
